# Database Settings
DB_URL=jdbc:mysql://<database_host>:<database_port>/<database_name>
DB_USERNAME=<database_username>
DB_PASSWORD=<database_password>

# Set to DEBUG or TRACE to track Elasticsearch activity in the terminal
APP_LOGGING_LEVEL_SEARCH=INFO
APP_STORAGE_UPLOADS=<path_to_books_directory>
APP_STORAGE_THUMBNAILS=<path_to_thumbnails_directory>
ELASTICSEARCH_URIS=http://localhost:9200

# Virus Scan Settings (ClamAV)
APP_VIRUS_SCAN_HOST=<clamav_host_ip_or_domain>
APP_VIRUS_SCAN_PORT=<clamav_port>

# JWT Configuration
APP_JWT_SECRET=<jwt_secret_at_least_32_bytes_long>
APP_JWT_ACCESS_EXP=3600000
APP_JWT_REFRESH_EXP=86400000
